# Git
.git
.gitignore

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and editors
.idea/
.vscode/

# Local environment files
.env

# Testing
.pytest_cache/
.coverage

# OS-specific
.DS_Store
Thumbs.db
